#product_tab #tab {
	margin-bottom: 20px;
	border-bottom: solid 5px #ca5062;
	width: 980px;
	margin: 20px auto;
}
#product_tab #tab li {
	cursor: pointer;
	float: left;
	list-style: none;
	margin-right : 1px;
	width: 325px;
	line-height: 50px;
	text-align: center;
	color: #ffffff;
	background: #333333;
	border-radius: 5px 5px 0 0;
}
#product_tab #tab li.hover {
	width: 327px;
	background: #ca5062;
}
#product_tab #tab li.last {
	margin-right : 0px;
}
#product_tab #tab li:hover {
	background: #ca5062;
}
#product_tab .disnon {
	display: none;
}


.project {
    height: auto;
    margin: 0 auto 50px;
    width: 1024px;
    padding: 20px 0 0;
}
.project .box {
    margin-bottom: 20px;
}
.project table {
    border-collapse: collapse;
    border-spacing: 0;
}
.project .box .invest {
    border-bottom: 1px solid #cbcbcb;
    border-top: 1px solid #cbcbcb;
    font-size: 14px;
    margin: 0 0 15px;
    width: 100%;
}
.project .box .invest th {
    color: #014365;
    font-size: 14px;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    width: 120px;
}
.project .box th {
    background: none repeat scroll 0 0 #f2f2f2;
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
    padding: 2px 10px;
}
.project .box .invest td {
    font-size: 26px;
    padding: 10px;
    text-align: right;
}
.project .box .invest td .remaining {
	font-size: 18px;
}
.project .box td {
    border-bottom: 1px solid #cccccc;
    padding: 5px 10px;
}
.project .box .invest .invest-text-small {
    font-size: 14px;
}
.project .box .invest .invest-text-big {
    font-size: 36px;
    font-weight: bold;
}
.project .note {
    color: #ca5062;
    font-size: 12px;
    margin-top: 25px;
}
.project .btn-box {
    margin-bottom: 1px;
}
.project .btn-box .btn {
    border: 10px solid #efefef;
    text-align: center;
    width: 300px;
}
.project .btn-box .btn a, .btn-box .btn input[type="submit"] {
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 149%;
    line-height: 50px;
    text-decoration: none;
    width: 300px;
}
.project .btn-box .red a, .btn-box .red input[type="submit"] {
    background: linear-gradient(to bottom, #f37863 0%, #f37863 50%, #db6c59 50%, #db6c59 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.project .btn-box .black a, .btn-box .black input[type="submit"] {
background: linear-gradient(to bottom, #2562bc 0%, #2562bc 50%, #134da2 50%, #134da2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.project .box table {
    width: 100%;
}

.project .box .table-shorui{
    border-top: 1px solid #cbcbcb;}
.project .box .table-shorui th {
    background: none repeat scroll 0 0 #f2f2f2;
    border-right: 1px dotted #cbcbcb;
    padding-left: 10px;
}
.project .box .table-shorui th {
    background: none repeat scroll 0 0 #f2f2f2;
    border-right: 1px dotted #cbcbcb;
    padding-left: 10px;
}
.project .box .table-shorui td {
    border-right: medium none;
    font-size: 17px;
}
.project .box .table-shorui td span {
    font-size: 12px;
}

/*闁荤姳绶ょ槐鏇㈡偩婵犳艾闂柨鐕傛嫹 begin*/
.side-cont2 {
    border: 1px solid #efefef;
    padding: 20px;
}
.side-cont2 .simulation {
    margin: 0 10px 15px;
}
.side-cont2 p.simulation-b-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.side-cont2 .simulation p {
    margin-bottom: 20px;
}
.side-cont2 .simulation-innner {
    background: none repeat scroll 0 0 #efefef;
    margin-bottom: 20px;
    padding: 20px;
}
.side-cont2 .simulation-table {
    background: none repeat scroll 0 0 #efefef;
}
.side-cont2 .simulation-table th {
    border-bottom: 1px solid #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 0 5px;
    text-align: left;
    width: 115px;
}
.side-cont2 .simulation-table th span {
    font-size: 10px;
    font-weight: normal;
    margin: 0 0 0 5px;
}
.side-cont2 .simulation-table td {
    border-bottom: 1px solid #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0 5px 5px;
    text-align: left;
    width: 158px;
}
.fbBox2 {
    border-color: #969696 #ffffff #ffffff #969696;
    border-style: solid;
    border-width: 1px;
    font-weight:bold;
    font-size: 22px;
    height: 40px;
    margin-right: 2px;
    text-align: right;
    width: 80px;
}
.fbBox3 {
    border-color: #969696 #ffffff #ffffff #969696;
    border-style: solid;
    border-width: 1px;
    font-weight:bold;
    font-size: 22px;
    height: 30px;
    margin-right: 2px;
    text-align: right;
    width: 92px;
}
.simulation-table td span {
    font-size: 10px;
    font-weight: normal;
    margin: 2px 0 0;
}
.calculate {
    margin: 20px 0;
    text-align: center;
}
.add th{
    border:none;
    font-size:18px;
    font-weight:normal;
    }
    
.add td{
    border:none;
    background: none repeat scroll 0 0 #f2f2f2;
    font-size:16px;
    }
.add img{
    margin:10px;}   
.simulation-table2 {
    background: none repeat scroll 0 0 #ffffff;
    border-top: 1px solid #cbcbcb;
}
.simulation-table2 tr {
    border-bottom: 1px solid #cccccc;
}
.simulation-table2 th {
    color: #014365;
    font-size: 14px;
    padding: 10px;
    text-align: left;
    width: 50%;
}

.simulation-table2 td {
    color: #ca5062;
    font-size: 22px;
    padding: 10px;
    text-align: right;
    width: 50%;
}
 .simulation-table2 td span {
    color: #000000;
    font-size: 14px;
    margin: 5px;
    width: 50%;
}
dl.simulation-text-wrap-in dt {
    float: left;
}
dl.simulation-text-wrap-in dd {
    padding: 0 15px;
}
/*闁荤姳绶ょ槐鏇㈡偩婵犳艾闂柍渚懐d*/

/*婵烇絽娴傞崰妤呭极閿燂拷*/





.project .intro {
    padding: 10px 0;
    overflow: hidden;
    zoom: 1;
}
.project .intro .lef {
    width: 650px;
}
.project .intro .rig {
    width: 340px;
}
.project .intro .rig h3 {
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
}
.project .intro .rig h4 {
    height: 48px;
    font-size: 20px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
}
.project .intro .rig h5 {
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
}
.project .intro .rig .progress {
    position: relative;
    width: 99%;
    height: 30px;
    border: #f26666 2px solid;
    background: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.project .intro .rig .bar {
    position: absolute;
    width: 30%;
    height: 30px;
    background: #f26666;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.project .intro .rig .data {
    position: absolute;
    top: 9px;
    left: 244px;
}
.project .intro .rig h5 span {
    color: #b50029;
}
.project .intro .rig .rate {
    padding-top: 6px;
    overflow: hidden;
    zoom: 1;
}
.project .intro .rig .rate li {
    float: left;
    width: 106px;
    height: 26px;
    line-height: 26px;
    font-size: 15px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
}
.project .intro .rig .rate .libor {
    border-left: #b50029 1px solid;
    padding-left: 10px;
    padding-right: 10px;
}
.project .intro .rig .unit {
    padding: 6px 0 0 0;
    overflow: hidden;
    zoom: 1;
}
.project .intro .rig .unit li {
    float: left;
    width: 216px;
    height: 26px;
    line-height: 26px;
    font-size: 15px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
}
/*.project .intro .rig .choose {
    margin-top: 12px;
    position: relative;
    padding: 4px 0 0 0;
}*/
.project .intro .rig .choose {
    margin-top: 12px;
    position: relative;
    padding: 4px 0 0 0;
    background-color: #efefef;
    text-align: center;
    width: 340px;
    height:70px;
}
.project .intro .rig .choose input {
    position: absolute;
    top: 3px;
    left: 77px;
    padding: 0 4px;
    width: 60px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    border: #b5012a 1px solid;
}
.project .intro .rig .choose b {
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    font-size: 15px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
}
.project .intro .rig .choose .plus {
    display: block;
    font-size: 16px;
    position: absolute;
    width: 24px;
    height: 31px;
    top: 3px;
    left: 147px;
}
.project .intro .rig .choose .sub {
    display: block;
    font-size: 16px;
    position: absolute;
    width: 24px;
    height: 31px;
    top: 3px;
    left: 53px;
}
.project .intro .rig .choose .Confirm {
    position: absolute;
    top: 3px;
    left: 180px;
    padding: 0px 16px;
    background: #b50029;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    height: 31px;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
}
.project .intro .rig .calculator {
    padding: 20px 20px 10px 20px;
    margin-top: 20px;
    border: #b50029 1px solid;
}
.project .intro .rig .calculator h6 {
    padding-bottom: 16px;
    text-align: center;
    font-size: 20px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
}
.project .intro .rig .calculator table {
    margin: 0 auto;
}
.project .intro .rig .calculator table td {
    padding: 5px 0;
    font-size: 15px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
}

#Tab3 {
    margin-top: 10px;

}
.Menubox3 {
    overflow: hidden;
    zoom: 1;
    border-bottom: 5px solid #ca5062;
    width:647px;
}
.Menubox3 li {
    margin-right: 1px;
    margin-top: 1px;
    text-align: center;
    float: left;
    display: block;
    width: 161px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    color: #FFF;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
    color: #FFF;
    cursor: pointer;
    background: #333333;
}
.Menubox3 li.hover {
    margin-right: 1px;
    margin-top: 1px;
    text-align: center;
    width: 161px;
    /*color: #6b7b85;*/
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    /*color: #b50029;*/
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
    cursor: pointer;
    background: #ca5062;
}
.Contentbox3 {
    clear: both;
    margin-top: 0px;
    border-top: none;
    padding: 10px 0 0 0;
}
/* 婵＄偑鍊曞﹢鍗灻洪悧鍫㈩浄閻庯綆鍓涢惌锟�/
.tt {
    padding: 10px 0;
}
.xmjs p, .kfsxx p {
    padding: 10px 0 0 0;
    line-height: 26px;
    font-size: 15px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
    text-align: justify;
    text-justify: inter-ideograph;
}
.kfsxx p img {
    padding-bottom: 6px;
}
.xmjspic {
    position: relative;
    margin: 0 auto;
    margin-top: 16px;
    width: 495px;
    height: 288px;
}
.xmjspic .scroll {
    width: 200px;
    position: absolute;
    left: 10px;
    top: 256px;
}
.xmjspic .scroll img {
    padding: 0 6px;
}
.jbxx {
}
.jbxx table {
    margin-top: 10px;
}
.jbxx table td {
    padding: 4px 0;
    font-size: 15px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
}
.Contentbox3 h3 {
    width:200px;
    height: 36px;
    line-height: 36px;
    color: #ca5062;
    font-size: 16px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
    border-bottom: #ca5062 2px solid;
}
/* 婵炲濞�弨閬嶆偋閸濄儲灏庨柡澶婄仢閳笺垹鈽夐幙鍐ㄥ箻婵炲牊鍨垮畷鍫曞礈瑜嶉。濠氭倶閻愬弶鍣搁柤纰夋嫹*/
.jgzs {
    padding: 20px 0 10px 0;
    text-align: center;
}
.yxzk {
    padding: 20px 0 10px 0;
}
/* 闁荤偞绋忛崝宥夋偋閸濄儰娌柛娑卞墲閸橈拷*/
.tableM {
    width: 500px;
    margin: 0 auto;
}
.tableM td {
    padding: 4px 0;
    font-size: 15px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
}
/* 闂佺鍩栧ú婊堝Χ閿燂拷 */
.tp h4 {
    text-align: left;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
    color: #b50029;
}
.tp .butt {
    padding: 10px 0;
}
.tp .butt a {
    margin: 0 10px;
}
/* 闂佸搫鐗嗙粔瀛樻叏閻旂厧纭�煫鍥ㄥ嚬閸烇拷 */
.service {
    position: relative;
}
.service h4 {
    padding-top: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
    color: #b50029;
}
.service p {
    padding: 10px 10px 0 10px;
    line-height: 26px;
    font-size: 15px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
    text-align: justify;
    text-justify: inter-ideograph;
}
.service .downLoad {
    width: 100px;
    position: absolute;
    top: 14px;
    left: 430px;
}
/* 闂佸搫瀚ù椋庡垝閿燂拷 */
.detail {
}
.detail table {
    margin-top: 6px;
}
.detail table span {
    font-size: 15px;
    color: #b50029;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
}
.detail table td {
    padding: 4px 0;
    font-size: 15px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
}
/* 闁诲海鎳撻張顒勫垂濮橆厽浜ゆ繛鎴灻锟�*/
.wcjd {
    padding: 20px 0 0 0;
    width: 500px;
    margin: 0 auto;
}
.wcjd .progress {
    position: relative;
    width: 100%;
    height: 30px;
    border: #f26666 2px solid;
    background: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.wcjd .bar {
    position: absolute;
    width: 30%;
    height: 30px;
    background: #f26666;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.wcjd .data {
    position: absolute;
    top: 9px;
    left: 244px;
}
/*闂佺鍩栧ú婵堢矈椤愶絻浜滈柛锔诲幗缁愭鈽夐幙鍕闁荤喐鐟ラ悧鎰板Υ閿燂拷*/
.investList {
    position: relative;
}
.investList h4 {
    height: 40px;
    line-height: 40px;
    color: #b50029;
    font-size: 24px;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
    border-bottom: #b50029 1px solid;
}
.search2 {
    width: 400px;
    position: absolute;
    top: 11px;
    left: 650px;
    overflow: hidden;
    zoom: 1;
}
.search2 input {
    float: left;
    padding: 0 4px;
    width: 300px;
    height: 28px;
    line-height: 28px;
    color: #666;
    border: #b5012a 1px solid;
}
#Tab5 {
    margin: 20px 0 10px 0;
}
.Menubox5 {
    padding-left: 10px;
    overflow: hidden;
    zoom: 1;
    background: #b50029;
}
.Menubox5 li {
    text-align: center;
    margin-right: 1px;
    float: left;
    display: block;
    width: 160px;
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    color: #FFF;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
    color: #FFF;
    cursor: pointer;
}
.Menubox5 li.hover {
    text-align: center;
    margin-right: 1px;
    width: 160px;
    color: #6b7b85;
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    color: #b50029;
    font-family: "閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷", "婵帗绋掗崹宕囩礊閿燂拷", Arial, Helvetica, sans-serif;
    cursor: pointer;
    background: #fff;
    border-top: #b50029 2px solid;
}
.Contentbox5 {
    clear: both;
    margin-top: 0px;
    border-top: none;
    padding: 10px 0 20px 0;
}

/*产品详情*/
.prodect_left_detail { width:340px; height:auto; display:block; float:left;}
.pl_buy { width:338px; border:1px solid #d0d0d0; }
.pl_buy h4 { height:45px; line-height:45px; text-align:center; color:#ca5062; border-top:3px solid #ca5062; padding-bottom:10px;font-size:16px;}
.pl_buy h4 span { padding:0 2px; font-weight:bold;}

.input_amount { padding:0 19px;height:36px; font-size:16px; color:#444; line-height:36px; margin-bottom:10px;}
.input_amount input {width:150px; height:16px; line-height:16px; border-radius:5px; border:1px solid #d0d0d0; outline:medium; padding:10px; color:#999; font-size:16px; margin:0 10px;font-family: "Microsoft YAHEI"; }
.input_amount span { padding:0 10px;}

.input_amount_ts {
padding: 0 19px 0 110px;
height: 20px;
font-size: 14px;
color: #ca5062;
line-height: 20px;
}


.input_amount_2 { padding:0 19px;height:30px; font-size:16px; color:#444; line-height:30px;}
.input_amount_2 span { padding:0 10px;color:#ca5062; font-weight:bold;}
.input_amount_2 a,.input_amount_2 a:visited { margin-left:15px;color:#ca5062;}
.input_amount_2 a:hover { text-decoration:underline;}


.pl_buy_btn {width:300px; height:44px;margin:0 19px; margin-top:10px;}
.pl_buy_btn a,.pl_buy_btn a:visited { display:block; width:300px; height:44px; line-height:44px; color:#fff; text-align:center; border-radius:3px; background:url(../img/products/pl_buy_btn.jpg) center no-repeat; font-size:24px;}
.pl_buy_btn a:hover { background:url(../img/products/pl_buy_btn_hover.jpg) center no-repeat;}

.pl_progress { width:300px; height:30px; margin:15px 19px 20px 19px; position:relative;background-position: 0 0;}
.pl_progress, .pl_progress b{background: url(../img/products/pl_progress_bg.png) no-repeat scroll 0 0; display: block;} 
.pl_progress b {background-position: 0 -30px; height: 30px;}
.pl_progress h6 { display:block;width:300px; height:30px; line-height:30px; text-align:center; font-size:14px; position:absolute; left:0; bottom:0; color:#fff;}

.pl_detail_contain { width:338px; border-style:solid; border-width:1px 1px 0 1px;border-color: #d0d0d0; margin-top:30px; }
.pl_detail_contain ul {border-top:3px solid #444;}
.pl_detail_contain ul li { border-bottom:1px solid #d0d0d0; display:block; float:left; width:338px; height:50px; line-height:50px; }
.pl_detail_contain ul li h4 { width:120px; height:50px; color:#444; display:block; float:left; background:#f2f2f2; font-size:14px;  padding-left:15px;line-height:50px;}
.pl_detail_contain ul li span { width:185px; height:50px; color:#444; display:block; float:left; font-size:18px; padding-left:15px;font-weight:bold;}

.download_wtxy { width:300px; height:44px; margin:20px;}
.download_wtxy a,.download_wtxy a:visited { display:block; width:300px; height:44px; line-height:44px; color:#fff; text-align:center; border-radius:3px; background:url(../img/products/download_wtxy_btn.jpg) center no-repeat; font-size:24px;}
.download_wtxy a:hover { background:url(../img/products/download_wtxy_btn_hover.jpg) center no-repeat;}